@import url('https://fonts.googleapis.com/css?family=Work+Sans:600&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; 
}

body{
  background-image:url(./welcome\ page\ background.jpg)
}


li, a, button{
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 8vh;
  background-color: teal;
  padding: 40px 10%;
}
.logo{
position: absolute;
left: 40px;
top: 20px;

}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;

}
.nav_links li a:hover{
color: #0088a9;
}

.button{
  padding: 10px 20px;
  color: #272727;
  background-color: rgba(0, 136,169,1);
  border: 2px solid #3498db;
  background: white;
  font-size: 10px;
  border: black;
  border-radius: 20px;
  cursor: pointer;
  margin: 2px;
  transition: all 0.3s ease 0s;
}
  button:hover{
    background-color: rgb(34, 42, 44);
    transition: all 0.3s ease 0s;
  }
 
  .slide-container{

    justify-content: center;
  }

  slide p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: black;
  }

  .footer-main-div{
    text-align: center;
    border-radius:5px;
    width: 100%;
    height: 80px;
    margin: 0;
    bottom: 0;
    position: fixed;
    background: #272727;
    padding: 15px;
    color:white;
    
  }

  .footer-main-div ul{
    list-style-type:none;
    text-align:center;
    margin:10px;
    border-radius:5px;
  }

  .footer-main-div ul li{
    display: inline;
  }

  .footer-main-div ul li a{
    text-decoration:none;
    font-family:Helvetica;
    color:white;
  }

  

  .footer-social-icons{
    width: 100%;
    height: auto;
    margin: auto;
  }

  .footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;

  }

  .btn1{
    border: 2px solid #0088a9;
    background: #BF7E13;
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
  }

  .btn1:hover{
    background-color: #305937
  }

  .container1{
    text-align: center;
    margin-top: 500px;
    margin-right: 60px;
  }

  #emailHeading{
    transform: translate(10px,20px);
    color: white;
  }

  #emailId{
    width: 80%;
    height: 20%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .submitId{
    background-color: teal;
    border: none;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    color: white;

  }
  #popUpMain{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1001; 
  }

  #popUp{
    width: 500px;
    height: 280px;
    background-image: url(./popup\ screen.jpg);;
    background-size: cover;
    border-radius: 10px;
    box-sizing: 1px 3px 6px 6px white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .emailId{
    float:left;
  }


  







